<li>
  <form #editUserForm="ngForm">
    <mat-card class="mat-card">
      <div class="mat-card-info">
        <span class="user-info" *ngIf="!isEdit">
      Name: {{ user.name }}, Role: {{ user.role }}
    </span>
        <span *ngIf="isEdit">
          <span>Role:</span>
          <select name="role" required [(ngModel)]="user.role">
            <option value="user">user</option>
            <option value="manager">manager</option>
          </select>
        </span>
      </div>

      <div class="mat-card-btns">
        <button [disabled]="editUserForm.invalid" *ngIf="isEdit"
                (click)="save(user)" mat-raised-button color="primary">Save
        </button>
        <button *ngIf="!isEdit" (click)="edit()" mat-raised-button color="primary">Edit</button>
        <button (click)="delete(user)" mat-raised-button color="warn">Delete</button>
      </div>
    </mat-card>
  </form>
</li>


