<div *ngIf="userNotExist" class="userRepeat-error">
  there is no such user!
</div>

<div class="container">
  <p>fill in the restore fields</p>
  <h2>Restore</h2>

  <form #userForm="ngForm">
    <div class="name">
      <h4>Enter the name of your existing account</h4>
      <mat-form-field appearance="fill">
        <mat-label>Enter your nickname</mat-label>
        <input [(ngModel)]="existNickname"
               maxlength="15"
               #nickname="ngModel"
               matInput placeholder="sveklo" required
               name="reg-nickname"
               pattern="[A-Za-zА-Яа-яЁё0-9]{1,15}"
        >
      </mat-form-field>
      <div class="alert danger-alert"
           *ngIf="nickname.dirty && nickname.invalid" class="alert">
        Use only letters and numbers
      </div>
    </div>

    <button type="submit" [disabled]="!userForm.form.valid"
            mat-raised-button
            color="primary"
            (click)="restore(nickname.value); userForm.reset()">Restore
    </button>
  </form>

  <div *ngIf="restoredPassword" class="show-password">
    your password: {{ restoredPassword }}
  </div>

</div>
