<mat-form-field appearance="fill">
  <mat-label>{{ options.label }}</mat-label>
  <input [(ngModel)]="value" required
         [maxlength]="options.maxlength"
         matInput [placeholder]="options.placeholder"
         [pattern]="options.pattern"
         [name]="options.name" [type]="options.type"
         (ngModelChange)="onChange($event)"
         (blur)="onTouched()"
  >
  <button *ngIf="options.name.includes('reg-password')" mat-icon-button matSuffix (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>
