<div class="container">
  <h1>Users-CRUD</h1>

  <div class="btns">
    <div>
      <button (click)="addModal()" mat-raised-button color="primary">Add user</button>
    </div>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Filter</button>
    <mat-menu #menu="matMenu">
      <button (click)="filter('user')" mat-menu-item>user</button>
      <button (click)="filter('manager')" mat-menu-item>manager</button>
      <button (click)="showAll()" mat-menu-item>all</button>
    </mat-menu>
  </div>
  <hr>

  <div class="search-wrapper">
    <input id="search" type="text" [(ngModel)]="search" placeholder="Search for users by name">
  </div>

<app-progress-spinner *ngIf="isProgessBarVisible">
</app-progress-spinner>

    <ul *ngIf="!isAdd && !isProgessBarVisible">
      <app-user-card *ngFor="let user of users | filter:'name':search"
                     [user]="user" [users]="users"></app-user-card>
    </ul>
</div>
