<div *ngIf="isRepeatUser" class="userRepeat-error">
  user with this name exists!
</div>

<div class="container">
  <p>fill in the registration fields</p>
  <h2>Registration</h2>
  <form [formGroup]="registrationForm"
        (ngSubmit)="register(registrationForm.get('nickname')?.value,
         registrationForm.get('password1')?.value); registrationForm.reset()">
    <div class="name">
      <h4>Username</h4>
      <app-custom-input [options]="{name: 'reg-nickname',
                                      placeholder: 'Misha',
                                      type: 'text',
                                      maxlength: 15,
                                      label: 'Enter your nickname',
                                      pattern: '[A-Za-zА-Яа-яЁё0-9]{1,15}'}"
                        [value]="user.name"
                        formControlName="nickname"></app-custom-input>
      <div class="alert danger-alert"
           *ngIf="registrationForm.get('nickname')?.invalid && registrationForm.get('nickname')?.touched">
        <small *ngIf="registrationForm.get('nickname')?.errors?.['required']">The field cannot be empty</small>
        <small *ngIf="registrationForm.get('nickname')?.errors?.['pattern']">Use only letters and numbers</small>
      </div>
    </div>

    <div class="password">
      <h4>Password</h4>
      <app-custom-input [options]="{name: 'reg-password1',
                                      placeholder: '1234',
                                      type: 'password',
                                      maxlength: 15,
                                      label: 'Enter your password',
                                      pattern: ''}"
                        [value]="user.password"
                        formControlName="password1"></app-custom-input>
      <div class="alert danger-alert"
           *ngIf="registrationForm.get('password1')?.invalid && registrationForm.get('password1')?.touched">
        <small *ngIf="registrationForm.get('password1')?.errors?.['required']">The field cannot be empty</small>
        <small *ngIf="registrationForm.get('password1')?.errors?.['minlength']">Minlength 4</small>
      </div>
    </div>

    <div class="password">
      <h4>Repeat the password</h4>
      <app-custom-input [options]="{name: 'reg-password2',
                                      placeholder: '1234',
                                      type: 'password',
                                      maxlength: 15,
                                      label: 'Enter your password one more time',
                                      pattern: ''}"
                        [value]="repeatPassword"
                        formControlName="password2"></app-custom-input>
      <div class="alert danger-alert"
           *ngIf="registrationForm.get('password2')?.invalid && registrationForm.get('password2')?.touched">
        <small *ngIf="registrationForm.get('password2')?.errors?.['required']">The field cannot be empty</small>
        <small *ngIf="registrationForm.get('password2')?.errors?.['minlength']">Minlength 4</small>
      </div>
    </div>

    <div class="btns">
      <button type="submit" [disabled]="registrationForm.invalid ||
                                        registrationForm.get('password2')?.value !== registrationForm.get('password1')?.value"
              mat-raised-button color="primary">Registration
      </button>
      <small *ngIf="registrationForm.get('password2')?.value !== registrationForm.get('password1')?.value">
        Passwords don't match</small>
    </div>
  </form>
</div>
