@import "src/app/assets/userCardStyles";
.container {
  max-width: 1000px;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  ul {
    list-style-type: none;
  }

  .btns {
    display: flex;

    button {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: none;
      margin-bottom: -0.5rem;
      margin-right: 10px;
    }
  }

  .search-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    #search {
      min-width: 600px;
      font-size: 1.2rem;
      border-radius: 5px;
      padding: 0.3rem;
      font-family: Roboto, sans-serif;
    }
  }
}

